<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeRoute – Trang đăng nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/sections/register.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>
<body>
    <div class="container_SU_LI">
    <div class="container__sign_in">
        <h1>Welcome Back!</h1>
        <span>
            Để giữ kết nối với chúng tôi vui lòng đăng nhập tài khoản của bạn <br>
        </span>
        <a>SIGN IN</a>
    </div>
        <div class="container__sign_up">
            <h1>Create Account </h1>
            <span><i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-google-plus-g"></i></span>
            <p>dùng email của bạn để đăng kí</p>
    </div>
    <div>
            <label id="label_userName_SU"> <i class="fa-regular fa-user"></i> Tên</label>
            <input type="text" id="input_userName_SU">
        </div>
        <div>
            <label id="label_email_SU"> <i class="fa-regular fa-envelope"></i> email</label>
            <input type="email" id="input_email_SU">
        </div>
        <div>
            <label id="label_password_SU"> <i class="fa-solid fa-lock"></i> Mật khẩu</label>
            <input type="password" id="input_password_SU">
    </div>
    </div>
</body>
</html>